.popup-panel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-container {
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    border-radius: 6px;
    background: var(--White, #FFFFFE);
    max-height: 80%;
    overflow-y: scroll;
}

.popup-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

.popup-header {
    color: var(--Black, #000);
    font-family: "Instrument Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.popup-form {
    width: 100%;
}

.popup-form-buttons {
    display: flex;
    width: 570px;
    align-items: flex-start;
    gap: 24px;
}


.popup-submit {
    display: flex;
    height: 48px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 6px;
    background: var(--Blue---100, #0E57FF);
    color: #FFF;
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

.popup-cancel {
    display: flex;
    height: 48px;
    padding: 0px 16px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1 0 0;
    border-radius: 6px;
    border: 1px solid var(--Dark---100, #0A0A0A);
    color: var(--Black, #000);
    text-align: center;
    font-family: "Instrument Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}